<section class="module module7">
    <div class="container-full">
        <h2>革命性的量化交易平台</h2>
        <h2>是时候加入“WinCoin”的俱乐部了</h2>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/img/logo2.png" class="logo" alt="">
                <p><i class="glyphicon glyphicon-envelope"></i> wincoin@mail.com</p>
                <!-- <p><i class="glyphicon glyphicon-send"></i> rcash.team@gmail.com</p>
                <p><i class="glyphicon glyphicon-send"></i> rcash.team@gmail.com</p> -->
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">
                <h5>目录</h5>
                <ul>
                    <li><a href="research.php">市场研究</a></li>
                    <li><a href="features.php">平台功能</a></li>
                    <li><a href="token.php">TOKEN</a></li>
                    <li><a href="roadmap.php">路线图</a></li>
                    <li><a href="exchange.php">交易所</a></li>
                </ul>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">
                <h5>友情链接</h5>
                <ul>
                    <li><a href="https://www.okex.com/">Okex</a></li>
                    <li><a href="https://www.huobi.pro/">Huobi</a></li>
                    <li><a href="https://www.binance.com/">Binance</a></li>
                    <li><a href="https://poloniex.com/">Polonlex</a></li>
                    <li><a href="https://bittrex.com/">Bittrex</a></li>
                    <li><a href="https://www.bitfinex.com/">Bitfinex</a></li>
                </ul>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">
                <h5>投资者/机构</h5>
                <ul>
                    <li><a href="#">Ventureslab</a></li>
                    <li><a href="#">ChainPE</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>投资者/机构</h5>
                <img src="assets/img/eq.png" class="eq" alt="">
            </div>
        </div>
        <div class="row subfoot">
            <p>© WinCoin 2017 All Rights Reserved</p>
        </div>
    </div>
</footer>