<header >
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <!-- 导航头部 -->
            <div class="navbar-header">
                <!-- 移动设备上的导航切换按钮 -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- LOGO -->
                <a href="/" class="navbar-brand"><img src="assets/img/logo.png" alt=""></a>
            </div>

            <!-- 导航项目 -->
            <div class="collapse navbar-collapse navbar-collapse-example">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" >目录 <span class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInUp" role="menu">
                            <li><a href="research.php">市场研究</a></li>
                            <li><a href="features.php">平台功能</a></li>
                            <li><a href="token.php">TOKEN</a></li>
                            <li><a href="roadmap.php">路线图</a></li>
                            <li><a href="exchange.php">交易所</a></li>
                        </ul>
                    </li>
                    <li><a href="#">注册</a></li>
                    <li><a href="#">登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>




