
header .navbar-nav > li >a {
    line-height: 80px;
    color: #fff;
    transition: all .4s ease-in-out;
    background: transparent!important;
}
header .navbar-nav > li >a:hover, 
header .navbar-nav > li >a:focus, {
    background: transparent!important;
}
header .navbar-brand  {
    padding: 0;
}
header .navbar-brand img {
    margin-top: 30px;
    transition: all .4s ease-in-out;
}
header .dropdown-menu a{
    line-height: 32px;
    color: #777;
}

.headroom--unpinned {
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}
.headroom--unpinned .navbar-nav > li >a {
    line-height: 30px;
}
.headroom--unpinned .navbar-brand img{
    margin-top: 5px;
}

.module {
    padding: 60px 0;
}
.module h2 {
    margin: 15px auto 30px ;
    text-align: center;
    color: #444;
    font-size: 30px;
}
.module h3{
    color: #555;
}
.module h4{
    margin-top: -15px;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #777;
}
.module h5 {
    font-weight: bold;
    color: #333;
}

.module p {
    font-size: 15px;
    line-height: 25px;
    color: #777;
}

.module7 {
    padding: 0;
    background:  url(../img/module7-01.jpg) no-repeat ;
    background-size: cover;
}
.module7 .container-full {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    height: 380px;
    background: rgba(10, 10, 10, .75);
}
.module7 h2 {
    color: #fff;
    margin: 20px 0 0 0;
}


footer {
    padding: 60px 0 15px 0;
}
footer h5 {
    font-weight: bold;
    color: #333;
    line-height: 50px;
    margin: 0 0 15px;
}
footer ul {
    list-style-type: none;
    padding: 0 0 0 5px;
}
footer ul li a, footer p{
    color: #777;
    line-height: 26px;
}

footer .logo {
    margin: 0 0 15px;
}
footer .eq {
    width: 100px;
}
footer .subfoot {
    padding: 15px 0;
}


@media (max-width: 992px) {
    header .navbar {
        background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    }
    header .navbar-nav  li a {
        line-height: 30px;
        color: #fff;
    }
    header .dropdown-menu a{
        line-height: 30px!important;
    }
    header .navbar-brand img {
        margin-top: 5px;
    }

    header .navbar-header button {
        border-color: #fff;
    }
    header .navbar-toggle .icon-bar {
        background: #fff;
    }

    footer {
        text-align: center;
    }
}

@media (max-width: 768px) {
    header .navbar-brand img {
        height: 40px;
    }
}

