.banner {
    height: 100vh;
    background: url(../img/banner.jpg);
}
.banner .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    height: 100%;
    color: #fff;
}
.banner h2 {
    margin: 0 auto 30px auto;
}
.banner h3 {
    margin:0;
}




.module1 {
    background: #f4f4f4;
}
.module1 .item {
    text-align: center;
    margin: 15px auto;
    max-width: 380px;
}
.module1 p {
    margin-top: 22px;
    text-align: center;
}

.module2 .item {
    text-align: center;
    margin: 15px auto;
    max-width: 220px;
}
.module2 img {
    width: 100%;
}

.module3 {
    padding: 0;
    background: #f4f4f4;
    display: flex;
}
.module3 > div {
    flex: 1;
}
.module3 .left {
    background: url(../img/module3-left.jpg) ;
    background-size: cover;
    padding-left: 30px;
}
.module3 .right {
    padding: 60px 0 60px 30px;
}
.module3 h2 {
    text-align: left;
}
.module3 h5 {
    margin: 30px 0 15px;
}
.module3 p {
    max-width: 600px;
}

.module4 .item {
    padding: 35px 0 15px;
    max-width: 350px;
    height: 230px;
    text-align: center;
    overflow: hidden; 
}
.module4 a {
    display: block;
    margin-top: 25px;
}
.module4 h3 {
    font-size: 18px;
    font-weight: bold;
}
.module4 p {
    margin-top: 14px;
    text-align: left;
}
.module4 img {
    width: 60px;
}


.module5 {
    background: #f4f4f4;
}
/*.module5 .item {
    text-align: center;
    height: 180px;
}*/
.module5{
    text-align: center;
}
.module5 .bule {
    color: #167aff;
}
.module5 .yellow {
    color: #ff9914;
}
.module5 h6 {
    font-size: 16px;
}
.module5 .line1 p {
    margin-bottom: 15px;
    line-height: 45px;
    border-radius: 10px;
    background: #d4d4d4;

}
.module5 .line2 img {
    max-width: 100%;
}
.module5 .line2 .left {
    text-align: right;
}
.module5 .line2 .right {
    text-align: left;
}


.module6 h2 {
    margin: 0;
}


