.banner-features {
    background: url(../img/page/banner-features.jpg);
}
.banner-research {
    background: url(../img/page/banner-research.jpg);
}
.banner-token {
    background: url(../img/page/banner-token.jpg);
}
.banner-roadmap {
    background: url(../img/page/banner-roadmap.jpg);
}
.banner-exchange {
    background: url(../img/page/banner-exchange.jpg);
}
.banner {
    background-size: cover;
}
.banner .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.banner h1 {
    font-size: 38px;
    color: #fff;
    text-align: center;
}
.banner p {
    font-size: 14px;
    color: #fff;
    line-height: 28px;
    text-align: center;
}

main {
    padding: 60px 0;
}
main h3 {
    color: #555;
    margin: 38px 0 20px;
    text-align: center;
}
main h4 {
    font-size: 16px;
    color: #444;
    margin: 20px 0 10px;
}
main p {
    color: #777;
    line-height: 26px;
}

.research h4, .research p {
    text-indent: 2rem;
}

.features {
    text-align: center;
    padding-top: 80px;
}
.features .item {
    max-width: 480px;
    height: 250px;
    margin: 0 auto;
}

.token {
    text-align: center;
    padding-top: 80px;
    overflow: hidden;
}
.token .item {
    max-width: 350px;
    height: 250px;
    margin: 0 auto;
}
.token .line2-wrap {
    display: flex;
}
.token .line2-wrap > div {
    flex: 1;
    margin: 15px;
}
.token .line2-wrap .left {
    display: flex;
    align-items: center;
}
.token .line2-wrap .left img {
    width: 100%;
}
.token .line2-wrap .right {
    text-align: left;
}
.exchange h3 {
    text-align: left;
}
.exchange .table img {
    height: 50px;
}
.exchange .table td {
    padding: 8px;
    line-height: 50px!important;
}
@media (min-width: 992px) {
    .banner h1, .banner p {
        max-width: 930px;
    }
}